@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "TitleFont";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("TitleFont"), url(./Assets/Audrey-Normal.otf) format("opentype");
}
@font-face {
  font-family: "TitleFontBold";
  src: local("TitleFontBold"), url(./Assets/Audrey-Bold.otf) format("opentype");
}